.benefits {
  color: #000000;
  background-color: #ffffff;
  padding: 23px 18px 46px 18px;
}

.benefits__item {
  padding: 8px 0 0 47px;
  text-align: left;
  margin-bottom: 25px;
}

.benefits__item:last-child {
  margin-bottom: 0;
}

.benefits__title {
  margin: 0 0 16px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.benefits__text {
  margin: 0;
}
