.heading {
  background-color: #305A80;
  background-image: url("../img/background-bottom.png"), url("../img/heading-background.jpg");
  background-position: bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  height: 389px;
}

.heading__image {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px 0;
}
