.main-footer {
  padding: 39px;
}

.main-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-bottom: 34px;
  color: #000000;
  text-decoration: none;
}

.main-footer__link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-right: 7px;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3d3b3;
  }
}

.htmlacademy {
  transform: translate(8px, 50% - 17px);
}
