.main-nav {
  display: none;
  position: absolute;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  text-align: center;
  background-color: #81B3D2;
}

.main-nav__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81B3D2;
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 12px;

  &:hover {
    background-color: #669EC0;
  }

  &:active {
    background-color: #5496BD;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #E5E5E5;
    cursor: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  background-color: transparent;
  border: none;
  z-index: 3;
  color: #ffffff;
  cursor: pointer;
  top: 17px;
  right: 16px;
  padding: 0;
  width: 22px;
  height: 22px;
  background-image: url("../img/toggle/toggle_close.svg");

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
