.main-footer {
  padding: 39px;

  @media (min-width: @tablet-width) {
    padding: 36px 76px 45px 60px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 36px 136px 45px 119px;
  }
}

.main-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin-bottom: 33px;
  color: #000000;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: left;
    line-height: 54px;
  }
}

.main-footer__list {
  margin: 0 6px 28px 0;

  @media (min-width: @tablet-width) {
    margin: 0 0 0 15px;
  }
}

.main-footer__link {
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  padding-right: 7px;

  @media (min-width: @tablet-width) {
    line-height: 54px;
  }

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3d3b3;
  }
}

.htmlacademy {
  transform: translate(8px, 50% - 17px);
}
