.main-header {
  background-color: red;
}

.main-header__wrap {
  display: flex;
  height: 56px;
  background-color: white;
  position: relative;
}

.main-header__logo {
  margin: 0 auto;
}

.main-header__logo-image {
  display: block;
}

.main-header__toggle {
  position: absolute;
  background-color: transparent;
  right: 17px;
  top: 17px;
  border: none;
  cursor: pointer;
  color: #81B3D2;
}


